.containter {
	// padding: 15px;
	// width: 300px !important;
	// height: 166px !important;
	border-radius: 15px;
	margin-top: 7px;
	margin-bottom: 10px;
	background-color: var(--color-bg-navbar);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	// padding-top: 15px;
	// padding-right: 70px;
	// padding-left: 70px;
}
.layout {
	display: flex;
	gap: 5px;

	// justify-content: space-between;
	// align-items: center;
	padding-top: 15px;
	padding-bottom: 3px;
	// border: 1px solid rosybrown;
}

.hiphen {
	margin-left: 0px;
	margin-right: 12px;
	font-size: 20px;
	font-weight: 700;
	color: var(--color-primary-accent);
}

.locationIcon {
	align-self: center;
	font-size: 15px;
	margin-right: 5px;
	color: var(--color-primary-accent);
}
.locationContainer {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	gap: 1px;
	margin-top: 7px;
	padding-bottom: 7px;
}
.address {
	// flex: 1;

	font-family: 'Roboto';
	font-weight: normal;
	font-size: 11px;
	display: flex;
	gap: 3px;
}
.place {
	color: var(--color-primary-accent);
	// flex: 1;
	// width: 350px;
	max-width: 350px;
	max-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.date {
	color: var(--color-primary-accent);
}
.divider {
	// margin-top: 1rem;
	// margin-bottom: 1rem;
	margin-top: 4px;
	// margin-bottom: 10px;
	border: 0;
	border-top: 1px solid var(--color-primary-accent);
	opacity: 0.1;
}

.timeIcon {
	font-size: 13px;
	margin-right: 2px;
	color: var(--color-green);
}

.timeFont {
	font-size: 9px;
	font-family: 'Roboto';
	font-weight: 400;
	color: var(--color-green);
	letter-spacing: 0.2px;

	// margin-top: 2px;
}

.image {
	// width: '';
	border-radius: 15px;
	// object-fit: contain;
	// box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.freeevent {
	color: var(--color-green);
}
.imageContainer {
	width: 150px;

	min-height: 100px;
	display: block;
	border-radius: 15px;

	// box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	// 	box-shadow: rgba(0, 0, 0, 0.08) 0px 1.5px 3px,
	// 		rgba(0, 0, 0, 0.23) 0px 1.5px 3px;
}

.paidevent {
	color: var(--color-red);
}

.desc {
	font-size: 14px;
	max-height: 90px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: 0.01em;
	font-family: 'Poppins';
	color: var(--color-primary-accent);
	padding: 0px 5px;
	display: inline-block;
	overflow: hidden;
	margin-top: 10px;
	// max-height: 60px;
	// white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis;
	// text-align: justify;
	// border: 1px solid red;
}
.playIcon {
	object-fit: contain;
}
.playIconContainer {
	max-width: 40px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

	span {
		width: 48px;
		text-align: center;
		font-size: 10px;
		margin-top: 5px;
		font-family: Roboto;
	}
}

.heartIcon {
	// justify-self: flex-end;
	// align-self: flex-start;
	font-size: 14px;
	color: var(--color-red);
	margin-left: 5px;
	margin-top: -15px;
}
.time {
	margin-right: 8px;
}
