/* *** colors ***  */
$app-primary: rgba(42, 87, 162, 1);
$app-secondary: rgba(42, 86, 162, 0.1);
$app-success: #cad5ca;
$app-info: #5b2492;
$app-danger: #db3022;
$app-black: #211a1d;
$app-white: #f4f5f7;
$app-link: #2846ccbf;
$app-facebook: #4267b2;
$app-google: #db4437;
$app-subtitle: rgba(51, 71, 86, 0.5);
$app-grey: #33475680;
$app-transparent: rgba(255, 255, 255, 0);
$app-bg-navbar-light: #ffffff;
$app-bg-navbar-dark: #070707f0;
$app-bg-light: #f4f9ff;
$app-bg-dark: #0d0a0af2;
$app-text-black: rgba(55, 55, 55, 1);
$app-text-white: rgba(255, 255, 255, 1);
$matt-black: #373737;
$grey: #838383;
$darkgrey: #484747;
$green: #4caf50;

// :export {
// 	primaryColor: $red-color;
// }
