.bgColor {
	background-color: var(--color-bg);
	// background-color: red;
}

.historyMain {
	background-color: var(--color-bnw);
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.searchMain {
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 77.7vh;
	min-height: 83vh;
	overflow: scroll;
}

.settingsMain {
	background-color: var(--color-bnw);
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.noresults {
	color: rgba(255, 0, 0, 0.823);
	padding: 20px;
	text-align: start;
}

@media only screen and (max-width: 600px) {
	.historyMain {
		padding: 30px 10px 10px 10px;
	}
	.searchMain {
		margin-bottom: 0px;
		min-height: 70vh;
	}
}
