.mainHeader {
	height: 90px;
	background-color: var(--color-bg-navbar);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	align-items: center;
}
.header {
	// height: 100%;
	// background-color: yellow;
}
.headerRow {
	// align-items: baseline;
	// justify-content: center;
	// margin-top: 20px;
	// margin-top: 1px;
}
.logo {
	font-family: 'Poppins';
	display: flex;
	justify-content: flex-start;
	align-items: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.figure {
	width: 45px;
	display: block;
	border-radius: 15px;
}

.image {
	// box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	// border-radius: 50%;
	// border: 10px solid red;
}

.logoText {
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 11px;
	color: var(--color-primary-accent);
	font-weight: 500;
	font-family: 'Poppins';
	font-size: 18px;
}

.logo a {
	text-decoration: none;
	color: #94fdfd;
}

.last {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.navigation a {
	text-decoration: none;
	color: #74dacc;
	font-size: 1rem;
}

.search {
	display: flex;
	// justify-content: center;
	align-items: center;
	gap: 10px;
}
.seachbar {
	width: 300px;
	position: relative;
	// display: flex;
}
.themeToggle {
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 4px;
	color: var(--color-icon);
	font-weight: bold;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	padding: 2px;
}

.calender {
	margin-top: 10px;
	// font-size: 17px;
}
.margin {
	margin-top: 10px;
	color: var(--color-primary-accent);
	font-family: 'Roboto';
	width: 80px;
}

@media only screen and (max-width: 600px) {
	.search {
		display: none;
	}
	.figure {
		width: 80px;
	}

	.logoText {
		font-size: 15px;
	}
}
