.mainHeader {
	// width: 100%;
	// display: flex;
	// justify-content: space-between;
	// align-items: baseline;
	// padding: 1rem 10%;
	height: 90px;
	background-color: var(--color-bg-navbar);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	// border: 1px solid #74dacc;
	align-items: center;
}
.header {
	height: 100%;
	// background-color: yellow;
}
.headerRow {
	// align-items: baseline;
	justify-content: center;
	// margin-top: 20px;
	// margin-top: 1px;
}
.logo {
	// font-size: 1.5rem;
	// 	color: white;
	font-family: 'Poppins';
	height: 100%;
	// height: 60px;
	display: flex;
	justify-content: flex-start;
	// align-items: center;
	// align-self: center;

	// align-items: center;
	// 	color: #94fdfd;
	// border: 1px solid #000000;
	// margin-top: 5px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	.figure {
		width: 40px;
	}
}
.logoText {
	align-self: flex-start;
	margin-top: 10px;
	margin-left: 11px;
	color: var(--color-primary-accent);
	font-weight: 500;
	font-family: 'Poppins';
	font-size: 18px;
}

.logo a {
	text-decoration: none;
	color: #94fdfd;
}

.last {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.navigation a {
	text-decoration: none;
	color: #74dacc;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.logo {
		font-size: 2.5rem;
	}

	.navigation a {
		font-size: 1.5rem;
	}
}

.search {
	display: flex;
	// justify-content: center;
	align-items: center;
	gap: 10px;
}
.seachbar {
	width: 300px;
	position: relative;
	// display: flex;
}
.themeToggle {
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 4px;
	color: var(--color-icon);
	font-weight: bold;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	padding: 2px;
}

.calender {
	margin-top: 10px;
	// font-size: 17px;
}
.margin {
	margin-top: 10px;
	color: var(--color-primary-accent);
	font-family: 'Roboto';
	width: 80px;
}
