.container {
	background-color: var(--color-footer);
	font-family: Roboto;
	font-weight: 300;
	letter-spacing: 0.2px;
	font-size: 12px;
	color: var(--color-secondary);
}
.mainContainer {
	padding: 20px 20px;
	background-color: var(--color-footer);
}

.div {
	margin-left: 9px;
	margin-right: 9px;
	background-color: var(--color-primary-accent);
}
.footerEnd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.iconGroup {
	font-size: 15px;
	gap: 12px;
	display: flex;
}

@media only screen and (max-width: 600px) {
}
