.dpContainer {
	background-color: var(--color-primary-accent);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: 'Poppins';
	padding: 30px;
	min-height: 40vh;
	color: white;
}
.imageContainer {
	width: 150px;
	display: block;
	border-radius: 15px;
}
.image {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
.name {
	font-size: 22px;
	font-weight: 500;
}
.email {
	font-weight: 300;
	font-size: 15px;
}
.number {
	font-weight: 300;
	font-size: 15px;
}
