@import './colors.scss';

:root {
	--color-primary: #000;
	--color-primary-accent: #5b34da;
	--color-secondary: #fff;
	--color-secondary-accent: #fff;
	--color-bg: #fff;
	--color-bg-navbar: #{$app-bg-navbar};
}
[data-theme='dark'] {
	--color-primary: #fff;
	--color-primary-accent: #{$app-primary};
	--color-secondary: #fff;
	--color-secondary-accent: #fff;
	--color-bg: #000;
	--color-bg-navbar: #000;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-primary);
	font-family: Poppins, Roboto, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

/* *** buttons ***  */
$btn-border-radius: 10px;
$input-btn-border-width: 2px;
$btn-hover-bg-tint-amount: 25%;
$btn-hover-bg-shade-amount: 40%;

/* *** fonts ***  */
$h6-font-size: '12px';

/* *** forms ***  */
$form-check-input-checked-border-color: $app-white;

/* *** inputs ***  */
$input-focus-box-shadow: $app-primary;
$input-border-color: transparent;

/* *** links ***  */
$link-decoration: none;
$link-color: $app-link;
$link-shade-percentage: 35%;

/** *** placeholder *** */
$placeholder-opacity-max: 0.3;

/** *** navbar *** */
$nav-link-font-size: '14px';

/** *** buttons *** */
$btn-font-size: '14px';

/*********************************************/
/*      CUSTOM THEME COLOR MAPPING       */
/*********************************************/

$theme-colors: (
	'primary': $app-primary,
	'secondary': $app-secondary,
	'success': $app-success,
	'info': $app-info,
	'danger': $app-danger,
	'link': $app-link,
	'facebook': $app-facebook,
	'google': $app-google,
	'subtitle': $app-subtitle,
	'grey': $app-grey,
	'transparent': $app-transparent,
	'primaryWhite': $app-bg-navbar,
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
