.slide {
	//   text-align: center;
	// height: 320px;
	// line-height: 320px;
	// background: #364d79;
	// overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

	// max-width: 300px;
	// height: 200px;
	// className='d-flex justify-content-space-around align-items-center'
}
.swiperContainer {
	cursor: pointer;
	height: auto;
	// list-style: none;
	// width: 100px;
}

.slideImage {
	border-radius: 15px;
	// width: 500px !important;
}
.imgWrapper {
	min-width: 140px;
	min-height: 200px;
	// border: 1px solid red;
	// max-width: 312px;
	// max-width: 480px;

	// max-height: 220px;
	// height: 220px;
	// object-fit: contain;
	// border: 1px solid red;
}

.imageTitle {
	font-family: 'Poppins';
	font-size: 15px;
	color: var(--color-text);
	font-style: normal;
	font-weight: 600;
	margin-top: 5px;

	max-width: 300px;
	overflow: hidden;
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis;
	text-align: justify;
}
.subTitle {
	mix-blend-mode: normal;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: var(--color-grey);
	margin-bottom: 40px;
	opacity: 0.8;
	margin-top: 2px;

	overflow: hidden;
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis;
	text-align: justify;
}
.groupTitle {
	margin-bottom: 50px;
	margin-top: 10px;
	color: var(--color-primary-accent);
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 15px;
	opacity: 0.9;
	overflow: hidden;
	max-width: 300px;
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis;
	text-align: justify;
}
.venue {
	margin-bottom: 50px;
	margin-top: 10px;
	color: var(--color-grey);
	font-weight: 300;
	letter-spacing: 0.2px;
	font-family: 'Roboto';
	font-size: 12px;
	overflow: hidden;
	max-width: 300px;
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis;
	text-align: justify;
}

@media only screen and (max-width: 600px) {
	.imgWrapper {
		min-height: 80px;
		padding-right: 15px;
	}
	.imageTitle,
	.groupTitle,
	.venue {
		width: 127px;
		// padding-right: 25px;
		// border: 1px solid green;
	}
	.subTitle {
		// border: 1px solid green;
		width: 127px;
		// margin-right: 25px;

		// width: 140px;
	}
}
